<!-- HEADER INICIO -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aurora Duran</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="">Inicio</a>
          <a class="nav-link" routerLink="/jardineria">Jardinería</a>
          <a class="nav-link" routerLink="/blancos">Blancos</a>
          <a class="nav-link" routerLink="/cocina">Cocina</a>
          <a class="nav-link" routerLink="/personales">Personales</a>
          <a class="nav-link" routerLink="/electrodomestico">Electrodomesticos</a>
          <a class="nav-link" routerLink="/muebles">Muebles</a>
        </div>
      </div>
    </div>
</nav>
<!-- HEADER FIN -->


<div class="container mb-5">

    <!-- LISTADO PRODUCTOS INICIO -->
      <div class="row contenedor-catalogos">
        <h2 class="text-center mt-4">Linea Blanca</h2>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
          <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\1.jfif" alt="Card image cap">
          </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\2.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\3.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\4.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\5.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\6.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\7.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\8.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\9.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\10.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\11.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\12.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\13.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\14.jfif" alt="Card image cap">
            </div>
        </div>

      </div>
    <!-- LISTADO PRODUCTOS FIN -->
</div>

<app-footer></app-footer>
