<!-- HEADER INICIO -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aurora Duran</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="">Inicio</a>
          <a class="nav-link" routerLink="/jardineria">Jardinería</a>
          <a class="nav-link" routerLink="/electrodomestico">Electrodomésticos</a>
          <a class="nav-link" routerLink="/cocina">Cocina</a>
          <a class="nav-link" routerLink="/electronica">Electrónica</a>
          <a class="nav-link" routerLink="/lineaBlanca">Linea Blanca</a>
          <a class="nav-link" routerLink="/muebles">Muebles</a>
        </div>
      </div>
    </div>
</nav>
<!-- HEADER FIN -->


<div class="container mb-5">

    <!-- LISTADO PRODUCTOS INICIO -->
      <div class="row contenedor-catalogos">
        <h2 class="text-center mt-4">Personales</h2>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
          <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\1.jfif" alt="Card image cap">
          </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\2.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\3.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\4.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\5.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\6.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\7.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\8.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\9.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\10.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\11.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\12.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\13.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\14.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\15.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\16.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\17.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\18.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\19.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\20.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\21.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\22.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\23.jfif" alt="Card image cap">
            </div>
        </div>

      </div>
    <!-- LISTADO PRODUCTOS FIN -->
</div>

<app-footer></app-footer>

