<!-- HEADER INICIO -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aurora Duran</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="electrodomestico">Electrodomésticos</a>
          <a class="nav-link" routerLink="jardineria">Jardinería</a>
          <a class="nav-link" routerLink="blancos">Blancos</a>
          <a class="nav-link" routerLink="cocina">Cocina</a>
          <a class="nav-link" routerLink="personales">Personales</a>
          <a class="nav-link" routerLink="electronica">Electrónica</a>
          <a class="nav-link" routerLink="/lineaBlanca">Linea Blanca</a>
          <a class="nav-link" routerLink="/muebles">Muebles</a>
        </div>
      </div>
    </div>
</nav>
<!-- HEADER FIN -->

    <!-- CARROUSEL INICIO -->
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets\banner01.jfif" class="d-block w-100 imgBanner" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
              <div class="carousel-item">
                <img src="assets\banner02.jfif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
    <!-- CARROUSEL FIN -->

    <br>
    <br>

<!-- CATALOGOS MENSUALES INICIO -->
<div class="container">
  <div class="row contenedor-catalogos">
    <h2 class="text-center mb-4">Catalogos Mensuales</h2>

    <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\oportunidades.jpg" alt="Card image">
        <div class="card-body">
          <h3 class="card-title">Conoce las reglas del juego.</h3>
          <p class="card-text">Descrubre sorpresar y premios con <strong class="better">BetterWare</strong></p>
          <a download="Oportunidades BetterWare 2023" href="assets\Oportunidades-01.pdf" class="btn btn-primary" target="_blank">Ver el catalogo</a>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\catalogo1.webp" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Catalogo Enero</h3>
          <p class="card-text">Descrubre sorpresar y premios con <strong class="better">BetterWare</strong></p>
          <a download="Better Ware 2023" href="assets\Enero-2023.pdf" class="btn btn-primary disabled" target="_blank">Ver el catalogo</a>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\CatalogoFebrero.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Catalogo Febrero</h3>
          <p class="card-text">Descrubre sorpresar y premios con <strong class="better">BetterWare</strong></p>
          <a download="BetterWare Febrero 2023" href="assets\Febrero-2023.pdf" class="btn btn-primary" target="_blank">Ver el catalogo</a>
        </div>
      </div>
    </div>

    <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets\CatalogoMarzo.jpg" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title">Catalogo Marzo</h3>
          <p class="card-text">Descrubre sorpresar y premios con <strong class="better">BetterWare</strong></p>
          <a download="BetterWare Marzo 2023" href="assets\Marzo-2023.pdf" class="btn btn-primary disabled" target="_blank">Ver el catalogo</a>
        </div>
      </div>
    </div>

    
  </div>
  <hr>
</div>
<!-- CATALOGOS MENSUALES FIN -->


<!-- CATEGORIAS INICIO -->
  <div class="container mb-5 img-fluid">
          <div class="row contenedor-catalogos">
            <h2 class="text-center mt-4">Categorias</h2>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\electrodomesticos\Portada.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Electrodomésticos</h3>
                  <a routerLink="/electrodomestico" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\jardineria\Portada.jfif" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Jardinería</h3>
                  <a routerLink="/jardineria" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\blancos\Portada.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Blancos</h3>
                  <a routerLink="/jardineria" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\cocina\Portada.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Cocina</h3>
                  <a routerLink="/cocina" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\personales\Portada.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Personales</h3>
                  <a routerLink="/personales" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\electronica\Portada.jfif" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Electrónica</h3>
                  <a routerLink="/electronica" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\lineaBlanca\Portada.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Linea Blanca</h3>
                  <a routerLink="/lineaBlanca" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
    
            <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
              <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\Portada.png" alt="Card image cap">
                <div class="card-body">
                  <h3 class="card-title" style="text-align: center;">Muebles</h3>
                  <a routerLink="/lineaBlanca" class="btn btn-primary">Productos</a>
                </div>
              </div>
            </div>
            
          </div>
  </div>
<!-- CATEGORIAS FIN -->



<!-- VIDEOS INICIO -->
<!-- <div class="container">
  <div class="row contenedor-catalogos" style="justify-content: center; align-items: center;">
    <h2 class="text-center mb-4">Videos sobre BetterWare</h2>

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 colum-catalogo">
      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <iframe width="380" height="315" src="assets\videos\Video01.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p class="card-text" style="text-align: center;">Bienvenido a la familia <strong class="better">BetterWare</strong></p>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-4 col-md-4 col-sm-12 colum-catalogo">
      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <iframe width="380" height="315" src="assets\videos\Video02.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p class="card-text" style="text-align: center;">Se constante y gana mas con <strong class="better">BetterWare</strong></p>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-4 col-md-4 col-sm-12 colum-catalogo">
      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <iframe width="380" height="315" src="assets\videos\Video03.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p class="card-text" style="text-align: center;">Invita y gana con <strong class="better">BetterWare</strong></p>
        </div>
      </div>
    </div>


    <div class="col-12 col-lg-4 col-md-4 col-sm-12 colum-catalogo">
      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <iframe width="380" height="315" src="assets\videos\Video01.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p class="card-text" style="text-align: center;">Invita y gana con <strong class="better">BetterWare</strong></p>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-4 col-md-4 col-sm-12 colum-catalogo">
      <div class="card" style="width: 100rem;">
        <div class="card-body">
          <iframe width="380" height="315" src="assets\videos\Video04.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          <p class="card-text" style="text-align: center;">Entre mas compras, mas ganas con <strong class="better">BetterWare</strong></p>
        </div>
      </div>
    </div>

  </div>
  <hr>
</div> -->
<!-- VIDEOS FIN -->
<app-footer></app-footer>