<!-- HEADER INICIO -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Aurora Duran</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="">Inicio</a>
          <a class="nav-link" routerLink="/jardineria">Jardinería</a>
          <a class="nav-link" routerLink="/blancos">Blancos</a>
          <a class="nav-link" routerLink="/cocina">Cocina</a>
          <a class="nav-link" routerLink="/personales">Personales</a>
          <a class="nav-link" routerLink="/electronica">Electrónica</a>
          <a class="nav-link" routerLink="/lineaBlanca">Linea Blanca</a>
        </div>
      </div>
    </div>
</nav>
<!-- HEADER FIN -->


<div class="container mb-5">

    <!-- LISTADO PRODUCTOS INICIO -->
      <div class="row contenedor-catalogos">
        <h2 class="text-center mt-4">Muebles</h2>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
          <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\1.jfif" alt="Card image cap">
          </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\2.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\3.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\4.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\5.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\6.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\7.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\8.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\9.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\10.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\11.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\12.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\13.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\14.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\15.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\16.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\17.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\18.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\19.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\20.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\21.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\22.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\23.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\24.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\25.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\26.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\27.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\28.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\29.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\30.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\31.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\32.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\33.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\34.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\35.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\36.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\37.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\38.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\39.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\40.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\41.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\42.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\43.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\44.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\45.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\46.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\47.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\48.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\49.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\50.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\51.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\52.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\53.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\54.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\55.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\56.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\57.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\58.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\59.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\60.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\61.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\62.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\63.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\64.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\65.jfif" alt="Card image cap">
            </div>
        </div>

        <div class="col-6 col-lg-4 col-md-4 colum-catalogo">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="assets\muebles\66.jfif" alt="Card image cap">
            </div>
        </div>

      </div>
    <!-- LISTADO PRODUCTOS FIN -->
</div>


<app-footer></app-footer>